In [1]:
import pandas as pd

In [3]:
df_authors = pd.read_csv("./dataset/top10k-spotify-artist-metadata.csv")
df_authors

,Unnamed: 0,index,artist,gender,age,type,country,city_1,district_1,city_2,district_2,city_3,district_3
0,0,0,Drake,male,33,person,CA,NaN,NaN,Toronto,NaN,NaN,NaN
1,1,1,Post Malone,male,25,person,US,NaN,NaN,Syracuse,NaN,NaN,NaN
2,2,2,Ed Sheeran,male,29,person,GB,NaN,NaN,Halifax,NaN,NaN,NaN
3,3,3,J Balvin,male,35,person,CO,NaN,NaN,Medellín,NaN,NaN,NaN
4,4,4,Bad Bunny,male,26,person,PR,NaN,NaN,San Juan,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,9995,4991,si_el_bien,NaN,0,NaN,NaN,Chicago,NaN,NaN,NaN,NaN,NaN
9996,9996,4992,Antonello Venditti,male,71,person,IT,NaN,NaN,Rome,NaN,NaN,NaN
9997,9997,4993,Lea Salonga,female,49,person,PH,NaN,NaN,NaN,NaN,NaN,NaN
9998,9998,4994,Vertical Horizon,mixed,29,group,NaN,Boston,NaN,NaN,NaN,NaN,NaN
9999,9999,4995,Lakko,male,0,person,ES,NaN,NaN,NaN,NaN,NaN,NaN

In [14]:

# Limpiar: quitar duplicados y filas completamente vacías
df_authors_clean = df_authors.drop_duplicates().dropna(how='all')
df_authors_clean['artist'] = (
    df_authors_clean['artist']
    .str.strip()      
    .str.lower()     
)

df_authors_clean

,Unnamed: 0,index,artist,gender,age,type,country,city_1,district_1,city_2,district_2,city_3,district_3
0,0,0,drake,male,33,person,CA,NaN,NaN,Toronto,NaN,NaN,NaN
1,1,1,post malone,male,25,person,US,NaN,NaN,Syracuse,NaN,NaN,NaN
2,2,2,ed sheeran,male,29,person,GB,NaN,NaN,Halifax,NaN,NaN,NaN
3,3,3,j balvin,male,35,person,CO,NaN,NaN,Medellín,NaN,NaN,NaN
4,4,4,bad bunny,male,26,person,PR,NaN,NaN,San Juan,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,9995,4991,si_el_bien,NaN,0,NaN,NaN,Chicago,NaN,NaN,NaN,NaN,NaN
9996,9996,4992,antonello venditti,male,71,person,IT,NaN,NaN,Rome,NaN,NaN,NaN
9997,9997,4993,lea salonga,female,49,person,PH,NaN,NaN,NaN,NaN,NaN,NaN
9998,9998,4994,vertical horizon,mixed,29,group,NaN,Boston,NaN,NaN,NaN,NaN,NaN
9999,9999,4995,lakko,male,0,person,ES,NaN,NaN,NaN,NaN,NaN,NaN

In [18]:
df_songs_2025=pd.read_csv("./dataset/spotify_data clean.csv")
df_songs_2025

,track_id,track_name,track_number,track_popularity,explicit,artist_name,artist_popularity,artist_followers,artist_genres,album_id,album_name,album_release_date,album_total_tracks,album_type,track_duration_min
0,3EJS5LyekDim1Tf5rBFmZl,Trippy Mane (ft. Project Pat),4,0,True,Diplo,77,2812821,moombahton,5QRFnGnBeMGePBKF2xTz5z,"d00mscrvll, Vol. 1",2025-10-31,9,album,1.55
1,1oQW6G2ZiwMuHqlPpP27DB,OMG!,1,0,True,Yelawolf,64,2363438,"country hip hop, southern hip hop",4SUmmwnv0xTjRcLdjczGg2,OMG!,2025-10-31,1,single,3.07
2,7mdkjzoIYlf1rx9EtBpGmU,Hard 2 Find,1,4,True,Riff Raff,48,193302,NaN,3E3zEAL8gUYWaLYB9L7gbp,Hard 2 Find,2025-10-31,1,single,2.55
3,67rW0Zl7oB3qEpD5YWWE5w,Still Get Like That (ft. Project Pat & Starrah),8,30,True,Diplo,77,2813710,moombahton,5QRFnGnBeMGePBKF2xTz5z,"d00mscrvll, Vol. 1",2025-10-31,9,album,1.69
4,15xptTfRBrjsppW0INUZjf,ride me like a harley,2,0,True,Rumelis,48,8682,dark r&b,06FDIpSHYmZAZoyuYtc7kd,come closer / ride me like a harley,2025-10-30,2,single,2.39
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8577,0AQquaENerGps8BQmbPw14,Big Iron,1,71,False,Marty Robbins,60,626733,"classic country, outlaw country",3kQpBS26lAj0A0VGl1snRl,Gunfighter Ballads And Trail Songs,1959-06-30,15,album,3.92
8578,4f8hBeMXMvssn6HtFAtblo,El Paso,10,64,False,Marty Robbins,61,626733,"classic country, outlaw country",3kQpBS26lAj0A0VGl1snRl,Gunfighter Ballads And Trail Songs,1959-06-30,15,album,4.32
8579,0Vy7wsXNFrbNc6UTWoScnM,Over the Rainbow,5,8,False,The Mystics,27,18184,doo-wop,2ifB9Xjp9DdpqLlYlY60QW,Presenting The Mystics,1959-02-11,9,compilation,2.28
8580,760clbeDBWmBsBLbszWuNZ,I'm A Man,2,55,False,Bo Diddley,44,333376,"blues, classic blues, rock and roll, rockabilly",1cbtDEwxCjMhglb49OgNBR,Bo Diddley,1958-01-01,12,album,2.74
8581,61GEP8lryEfcuEgBMbRmNi,Alone And Forsaken,11,45,False,Hank Williams,55,1067339,"classic country, honky tonk, traditional count...",3cusZESjkIDnDXyQwbpSsT,Moanin' The Blues (Expanded Edition),1952-09-12,12,album,2.02

In [20]:
df_songs_2025_clean = df_songs_2025.drop_duplicates().dropna(how='all')
df_songs_2025_clean['artist_name'] = (
    df_songs_2025_clean['artist_name']
    .str.strip()      
    .str.lower()     
)

df_songs_2025_clean

,track_id,track_name,track_number,track_popularity,explicit,artist_name,artist_popularity,artist_followers,artist_genres,album_id,album_name,album_release_date,album_total_tracks,album_type,track_duration_min
0,3EJS5LyekDim1Tf5rBFmZl,Trippy Mane (ft. Project Pat),4,0,True,diplo,77,2812821,moombahton,5QRFnGnBeMGePBKF2xTz5z,"d00mscrvll, Vol. 1",2025-10-31,9,album,1.55
1,1oQW6G2ZiwMuHqlPpP27DB,OMG!,1,0,True,yelawolf,64,2363438,"country hip hop, southern hip hop",4SUmmwnv0xTjRcLdjczGg2,OMG!,2025-10-31,1,single,3.07
2,7mdkjzoIYlf1rx9EtBpGmU,Hard 2 Find,1,4,True,riff raff,48,193302,NaN,3E3zEAL8gUYWaLYB9L7gbp,Hard 2 Find,2025-10-31,1,single,2.55
3,67rW0Zl7oB3qEpD5YWWE5w,Still Get Like That (ft. Project Pat & Starrah),8,30,True,diplo,77,2813710,moombahton,5QRFnGnBeMGePBKF2xTz5z,"d00mscrvll, Vol. 1",2025-10-31,9,album,1.69
4,15xptTfRBrjsppW0INUZjf,ride me like a harley,2,0,True,rumelis,48,8682,dark r&b,06FDIpSHYmZAZoyuYtc7kd,come closer / ride me like a harley,2025-10-30,2,single,2.39
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8577,0AQquaENerGps8BQmbPw14,Big Iron,1,71,False,marty robbins,60,626733,"classic country, outlaw country",3kQpBS26lAj0A0VGl1snRl,Gunfighter Ballads And Trail Songs,1959-06-30,15,album,3.92
8578,4f8hBeMXMvssn6HtFAtblo,El Paso,10,64,False,marty robbins,61,626733,"classic country, outlaw country",3kQpBS26lAj0A0VGl1snRl,Gunfighter Ballads And Trail Songs,1959-06-30,15,album,4.32
8579,0Vy7wsXNFrbNc6UTWoScnM,Over the Rainbow,5,8,False,the mystics,27,18184,doo-wop,2ifB9Xjp9DdpqLlYlY60QW,Presenting The Mystics,1959-02-11,9,compilation,2.28
8580,760clbeDBWmBsBLbszWuNZ,I'm A Man,2,55,False,bo diddley,44,333376,"blues, classic blues, rock and roll, rockabilly",1cbtDEwxCjMhglb49OgNBR,Bo Diddley,1958-01-01,12,album,2.74
8581,61GEP8lryEfcuEgBMbRmNi,Alone And Forsaken,11,45,False,hank williams,55,1067339,"classic country, honky tonk, traditional count...",3cusZESjkIDnDXyQwbpSsT,Moanin' The Blues (Expanded Edition),1952-09-12,12,album,2.02

## merge

In [24]:
df_merged = df_songs_2025_clean.merge(df_authors_clean, left_on = "artist_name", right_on= "artist", how='inner')
df_merged

,track_id,track_name,track_number,track_popularity,explicit,artist_name,artist_popularity,artist_followers,artist_genres,album_id,...,gender,age,type,country,city_1,district_1,city_2,district_2,city_3,district_3
0,3EJS5LyekDim1Tf5rBFmZl,Trippy Mane (ft. Project Pat),4,0,True,diplo,77,2812821,moombahton,5QRFnGnBeMGePBKF2xTz5z,...,male,41,person,NaN,Los Angeles,NaN,Tupelo,NaN,NaN,NaN
1,1oQW6G2ZiwMuHqlPpP27DB,OMG!,1,0,True,yelawolf,64,2363438,"country hip hop, southern hip hop",4SUmmwnv0xTjRcLdjczGg2,...,male,40,person,US,NaN,NaN,Gadsden,NaN,NaN,NaN
2,7mdkjzoIYlf1rx9EtBpGmU,Hard 2 Find,1,4,True,riff raff,48,193302,NaN,3E3zEAL8gUYWaLYB9L7gbp,...,male,38,person,US,NaN,NaN,Houston,NaN,NaN,NaN
3,67rW0Zl7oB3qEpD5YWWE5w,Still Get Like That (ft. Project Pat & Starrah),8,30,True,diplo,77,2813710,moombahton,5QRFnGnBeMGePBKF2xTz5z,...,male,41,person,NaN,Los Angeles,NaN,Tupelo,NaN,NaN,NaN
4,0NZKfcua68wuZePhjp8N2I,Root of all Evil,5,65,False,daniel caesar,85,11137714,NaN,115s3YJqm6iLblABdjtgzQ,...,male,25,person,NaN,Toronto,NaN,Toronto,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5399,00oZhqZIQfL9P5CjOP6JsO,Tomorrow Never Knows - Remastered 2009,14,55,False,the beatles,82,30721676,"classic rock, psychedelic rock",3PRoXYsngSwjEQWR5PsHWR,...,mixed,63,group,GB,NaN,NaN,Liverpool,NaN,NaN,NaN
5400,63T7DJ1AFDD6Bn8VzG6JE8,"Paint It, Black",1,82,False,the rolling stones,77,15709632,"classic rock, rock",72qrnM4yUNMDDlWiqKc8iY,...,mixed,58,group,GB,NaN,NaN,London,NaN,NaN,NaN
5401,745H5CctFr12Mo7cqa1BMH,My Girl,3,79,False,the temptations,65,3282964,"motown, classic soul, soul",45tweuKI0zdh8zgKo05cTw,...,mixed,60,group,US,NaN,NaN,Detroit,NaN,NaN,NaN
5402,3SdTKo2uVsxFblQjpScoHy,Stand By Me,7,77,False,ben e. king,65,711539,NaN,18Fj7coTfyMi7mEPXIweN7,...,male,76,person,US,NaN,NaN,Henderson,NaN,Hackensack,NaN
5403,2QfiRTz5Yc8DdShCxG1tB2,Johnny B. Goode,6,74,False,chuck berry,63,2211249,"rockabilly, rock and roll",6eedtCtCjibu80yOhylSGL,...,male,90,person,US,NaN,NaN,St. Louis,NaN,Wentzville,NaN

In [28]:
df_merged.to_excel("dataset final.xlsx")